In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
labs=pd.read_csv('labs_updated.csv')
vasopres=pd.read_csv('drugrate_norm.csv')
gcs=pd.read_csv('gcs_scores_updated.csv')

In [3]:
labs.head()

,patientunitstayid,labresultoffset,paO2_FiO2,platelets_x_1000,total_bilirubin,urinary_creatinine
0,141168,1701,NaN,NaN,NaN,173.12
1,141168,2026,136.0,NaN,NaN,NaN
2,141168,2141,121.0,NaN,NaN,NaN
3,141168,1133,NaN,213.0,NaN,NaN
4,141168,2010,84.0,NaN,NaN,NaN

In [4]:
vasopres.head()

,infusiondrugid,patientunitstayid,infusionoffset,drugname,drugrate,infusionrate,drugamount,volumeoffluid,patientweight,unit,admissionweight,dischargeweight
0,1998443,242082,425,Norepinephrine (mcg/min),0.120507,41.0,4.0,250.0,NaN,mcg/min,90.7,104.3
1,1968206,242082,125,Norepinephrine (mcg/min),0.077178,26.3,4.0,250.0,NaN,mcg/min,90.7,104.3
2,1969910,242082,55,Norepinephrine (mcg/min),0.023484,8.0,4.0,250.0,NaN,mcg/min,90.7,104.3
3,1994217,242082,665,Norepinephrine (mcg/min),0.088203,30.0,4.0,250.0,NaN,mcg/min,90.7,104.3
4,1985898,242082,230,Norepinephrine (mcg/min),0.100000,34.0,4.0,250.0,NaN,mcg/min,90.7,104.3

In [5]:
gcs.head()

,patientunitstayid,nursingchartentryoffset,nursingchartcelltypecat,nursingchartcelltypevallabel,GCS_Score
0,141924,2109,Scores,Glasgow coma score,15.0
1,141924,1894,Scores,Glasgow coma score,15.0
2,141924,424,Scores,Glasgow coma score,15.0
3,141944,484,Scores,Glasgow coma score,15.0
4,141944,2389,Scores,Glasgow coma score,14.0

In [6]:
vasopres['drugname'].unique()

array(['Norepinephrine (mcg/min)', 'Dopamine (mcg/kg/min)',
       'Epinephrine (mcg/min)', 'Dobutamine (mcg/kg/min)',
       'Norepinephrine (mcg/hr)', 'Norepinephrine (mcg/kg/min)',
       'Norepinephrine (mg/hr)', 'Epinephrine (mcg/kg/min)',
       'Norepinephrine (mcg/kg/hr)', 'Norepinephrine (mg/min)',
       'Dobutamine (mcg/min)', 'Epinephrine (mcg/hr)',
       'Dopamine (mcg/min)', 'dopamine (mcg/kg/min)',
       'Epinephrine (mg/hr)', 'Epinephrine (mg/kg/min)',
       'Dopamine (mcg/hr)', 'Dobutamine (mcg/kg/hr)', 'Dopamine (mg/hr)',
       'Dopamine (mcg/kg/hr)', 'Norepinephrine (mg/kg/min)',
       'Dopamine (nanograms/kg/min)',
       'Norepinephrine STD 4 mg Dextrose 5% 250 ml (mcg/min)',
       'Norepinephrine MAX 32 mg Dextrose 5% 250 ml (mcg/min)',
       'Norepinephrine STD 8 mg Dextrose 5% 500 ml (mcg/min)',
       'Norepinephrine STD 32 mg Dextrose 5% 500 ml (mcg/min)',
       'Norepinephrine STD 4 mg Dextrose 5% 500 ml (mcg/min)',
       'Norepinephrine MAX 32 mg Dextrose 5% 500 ml (mcg/min)',
       'Norepinephrine STD 32 mg Dextrose 5% 282 ml (mcg/min)',
       'Norepinephrine STD 8 mg Dextrose 5% 250 ml (mcg/min)'],
      dtype=object)

In [7]:
vasopres['unit'].unique()

array(['mcg/min', 'mcg/kg/min'], dtype=object)

In [8]:
vasopres.loc[vasopres['drugname'].str.contains('Norepi', case=True, regex=False),'drugname']='Norepinephrine'

In [9]:
vasopres.loc[vasopres['drugname'].str.contains('Epi', case=True, regex=False),'drugname']='Epinephrine'

In [10]:
vasopres.loc[vasopres['drugname'].str.contains('Dopa', case=False, regex=False),'drugname']='Dopamine'

In [11]:
vasopres.loc[vasopres['drugname'].str.contains('Dobuta', case=True, regex=False),'drugname']='Dobutamine'

In [12]:
vasopres['drugname'].unique()

array(['Norepinephrine', 'Dopamine', 'Epinephrine', 'Dobutamine'],
      dtype=object)

In [13]:
#Create the columns
vasopres['Norepinephrine']=np.nan
vasopres['Epinephrine']=np.nan
vasopres['Dopamine']=np.nan
vasopres['Dobutamine']=np.nan

In [14]:
#Feed the values from drugrate
vasopres['Norepinephrine']=vasopres.loc[vasopres['drugname']=='Norepinephrine','drugrate']
vasopres['Epinephrine']=vasopres.loc[vasopres['drugname']=='Epinephrine','drugrate']
vasopres['Dopamine']=vasopres.loc[vasopres['drugname']=='Dopamine','drugrate']
vasopres['Dobutamine']=vasopres.loc[vasopres['drugname']=='Dobutamine','drugrate']

In [15]:
vasopres.head()

,infusiondrugid,patientunitstayid,infusionoffset,drugname,drugrate,infusionrate,drugamount,volumeoffluid,patientweight,unit,admissionweight,dischargeweight,Norepinephrine,Epinephrine,Dopamine,Dobutamine
0,1998443,242082,425,Norepinephrine,0.120507,41.0,4.0,250.0,NaN,mcg/min,90.7,104.3,0.120507,NaN,NaN,NaN
1,1968206,242082,125,Norepinephrine,0.077178,26.3,4.0,250.0,NaN,mcg/min,90.7,104.3,0.077178,NaN,NaN,NaN
2,1969910,242082,55,Norepinephrine,0.023484,8.0,4.0,250.0,NaN,mcg/min,90.7,104.3,0.023484,NaN,NaN,NaN
3,1994217,242082,665,Norepinephrine,0.088203,30.0,4.0,250.0,NaN,mcg/min,90.7,104.3,0.088203,NaN,NaN,NaN
4,1985898,242082,230,Norepinephrine,0.100000,34.0,4.0,250.0,NaN,mcg/min,90.7,104.3,0.100000,NaN,NaN,NaN

In [16]:
del vasopres['infusiondrugid']
del vasopres['drugname']

In [17]:
vasopres.head()

,patientunitstayid,infusionoffset,drugrate,infusionrate,drugamount,volumeoffluid,patientweight,unit,admissionweight,dischargeweight,Norepinephrine,Epinephrine,Dopamine,Dobutamine
0,242082,425,0.120507,41.0,4.0,250.0,NaN,mcg/min,90.7,104.3,0.120507,NaN,NaN,NaN
1,242082,125,0.077178,26.3,4.0,250.0,NaN,mcg/min,90.7,104.3,0.077178,NaN,NaN,NaN
2,242082,55,0.023484,8.0,4.0,250.0,NaN,mcg/min,90.7,104.3,0.023484,NaN,NaN,NaN
3,242082,665,0.088203,30.0,4.0,250.0,NaN,mcg/min,90.7,104.3,0.088203,NaN,NaN,NaN
4,242082,230,0.100000,34.0,4.0,250.0,NaN,mcg/min,90.7,104.3,0.100000,NaN,NaN,NaN

<h3>Now we will merge everything into one table</h3>

In [18]:
#Change the name of timeoffset columns for different tables into a common one, here we will call it offset
labs=labs.rename(columns={'labresultoffset':'offset'})
vasopres=vasopres.rename(columns={'infusionoffset':'offset'})
gcs=gcs.rename(columns={'nursingchartentryoffset':'offset'})

In [20]:
dfs = [labs,gcs,vasopres]

In [33]:
df_final = reduce(lambda left,right: pd.merge(left,right,on=['patientunitstayid','offset']), dfs)

,patientunitstayid,offset,nursingchartcelltypecat,nursingchartcelltypevallabel,GCS_Score
0,141924,2109,Scores,Glasgow coma score,15.0
1,141924,1894,Scores,Glasgow coma score,15.0
2,141924,424,Scores,Glasgow coma score,15.0
3,141944,484,Scores,Glasgow coma score,15.0
4,141944,2389,Scores,Glasgow coma score,14.0